{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}


{% block content %}
    <p>
        {% blocktrans %}
            Забыли пароль? Введите адрес электронной почты в форму ниже, и мы вышлем вам инструкции по созданию
            нового.
        {% endblocktrans %}
    </p>
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Reset password' %}"/>
    </form>
{% endblock %}



{# This is used by django.contrib.auth #}
