{% extends "base.html" %}

{% load static %}

{% block banner %}
    <div>
        <img src="{% static 'img/baner.png' %}">
    </div>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'test:create_test' %}">Пройти тестирование </a>
    {% else %}
        <a class="btn btn-default" href="{% url 'auth_login' %}">Вход в личный кабинет</a>
        <a class="btn btn-default" href="{% url 'registration_register' %}">Регистрация</a>
        <a href="{% url 'auth_password_reset' %}">Напомнить пароль</a>
    {% endif %}
{% endblock %}